@font-face {
  font-family: "iconfont"; /* Project id 4850482 */
  src: url('iconfont.woff2?t=1741363759908') format('woff2'),
       url('iconfont.woff?t=1741363759908') format('woff'),
       url('iconfont.ttf?t=1741363759908') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jianchagengxin:before {
  content: "\e687";
}

.icon-tiku:before {
  content: "\e621";
}

.icon-kaoshi:before {
  content: "\e62d";
}

.icon-timu:before {
  content: "\e653";
}

.icon-kaoshi1:before {
  content: "\e62f";
}

.icon-cuoti:before {
  content: "\e601";
}

.icon-jingyanfenxiang:before {
  content: "\e600";
}

.icon-wentifankui-wentifaqi:before {
  content: "\e654";
}

.icon-fenxiang:before {
  content: "\e602";
}

.icon-wode:before {
  content: "\e63d";
}

.icon-shouye1:before {
  content: "\e603";
}

.icon-kaoti:before {
  content: "\e66a";
}

